{% extends 'base.html' %}

{% block content %}
<h1>Klatt Grid Vowel Synthesis</h1>

<form id="formants_form">
    {% autoescape false %}
    {{ formant_inputs }}
    {% endautoescape %}
    <button type="button" class="btn btn-primary" id="formants_button">Synthesise</button>
    <button type="button" class="btn btn-primary" id="wav_play_button" disabled>Play</button>
</form>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}