* {
  font-family: sans-serif;
}

main {
  padding: 5% 10%;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.formant_tick {
  display: inline-block;
  vertical-align: text-top;
  text-align: right;
  font-size: 70%;
  min-width: 2rem;
  color: gray;
}

.formant_input_range {
  width: max(20%, 10rem);
  min-width: 20%;
  max-width: 40%;
}

.formant_input {
  display: block;
  margin: 0.4rem 0 1.2rem 0;
}

.formant_output {
  margin-left: 0.4rem;
}

#formants_button,
#wav_play_button {
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: max(20%, 10rem);
}

#wav_play_button:disabled {
  cursor: not-allowed;
}
