* {
  font-family: sans-serif;
}

main {
  max-width: min(70%, 960px);
  margin: 5% auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

#all_formants_sliders_and_labels {
  margin-left: -2rem;
}

.formant_tick {
  display: inline-block;
  vertical-align: text-top;
  text-align: right;
  font-size: 70%;
  min-width: 2rem;
  color: gray;
}

.formant_input_range {
  width: max(20%, 10rem);
}

.formant_input {
  display: block;
  margin: 0.4rem 0 1.2rem 0;
}

.formant_output {
  margin-left: 0.4rem;
}

#formants_button,
#wav_play_button {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  width: max(20%, 10rem);
}

#wav_play_button:disabled {
  cursor: not-allowed;
}
