* {
  font-family: sans-serif;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  max-width: min(max(40%, 40rem), 70%);
  margin: 5% auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

#all_formants_sliders_and_labels {
  margin-left: -2rem;
}

.formant_tick {
  display: inline-block;
  vertical-align: text-top;
  text-align: right;
  font-size: 70%;
  min-width: 2rem;
  color: gray;
}

.formant_input_range {
  width: min(max(50%, 10rem), 100%);
}

.formant_input {
  display: block;
  margin: 0.4rem 0 1.2rem 0;
}

.formant_output {
  margin-left: 0.4rem;
}

#formants_button,
#wav_play_button {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  width: min(max(40%, 10rem), 80%);
}

#wav_play_button:disabled {
  cursor: not-allowed;
}

#formant_plot {
  width: min(100%, 300px);
  height: 300px;
  margin-bottom: 2rem;
}

#formant_plot svg tspan {
  font-family: "Doulos SIL", "Gentium Plus", "Times New Roman", Times, serif;
}

#copyright {
  margin-top: 2rem;
  font-size: small;
  text-align: right;
  color: #6c757d;
}

#more {
  margin-top: 1rem;
  width: min(40rem, 100%);
  font-size: small;
  text-align: left;
}

.sc {
  font-feature-settings: "smcp";
}
